* {
    padding: 0;
    margin: 0;
    font-family: arial;
    color: white;
}

body {
    background-image: url('img/bgImage.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.main-wrapper {
    margin: 10%;
    padding: auto;
    background-color: rgba(0, 0, 0, 0.7);
}

hr {
    margin-left: 10%;
}

#github-link {
    text-decoration: none;
    color: #0c89ff;
    font-weight: bold;
}

@media only screen and (min-width: 320px) {
    .main-wrapper h1 {
        padding: 20px 10px;
        text-align: center;
        font-size: 180%;
    }

    .main-wrapper p {
        font-size: 100%;
        line-height: 140%;
        padding: 5%;
        text-align: justify;
    }
}

@media only screen and (min-width: 1280px) {
    .main-wrapper h1 {
        padding: 20px 10px;
        text-align: center;
        font-size: 250%;
    }

    .main-wrapper p {
        font-size: 120%;
        padding: 5%;
        text-align: justify;
    }
}

@media only screen and (min-width: 1400px) {
    .main-wrapper h1 {
        padding: 20px 10px;
        text-align: center;
        font-size: 250%;
    }

    .main-wrapper p {
        font-size: 150%;
        padding: 5%;
        text-align: justify;
    }
}