.ajs-header, .ajs-content, .alertify .ajs-footer .ajs-buttons.ajs-primary {
    text-align: center;
}

.alertify .ajs-footer .ajs-buttons .ajs-button.ajs-ok {
    outline: none;
    background: #44a1dd;
    color: white;
    border-radius: 5%;
    transition: .3s ease-in-out;
}

.alertify .ajs-footer .ajs-buttons .ajs-button.ajs-ok:hover {
    background: #0579c6;
    color: white;
    transition: .3s ease-in-out;
}
